{% extends "AppBundle::layout_content.html.twig" %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path("index") }}">Home</a> > <a href="{{ path("index") }}#section-2">Blog</a> > <a href="{{ path("code") }}">Code</a> > Cache
    </div>
{% endblock %}

{% block title %} Playground HTTP Cache {% endblock %}

{% block big_title %}{% endblock %}

{% block content %}
    <h3>Understanding HTTP Cache</h3>

    You can find the code here: <a href="https://github.com/saro0h/cache-app" target="_blank"><img width="20px" src="{{ asset("bundles/app/images/github.png") }}" alt="github icon" /> cache-app</a>
    <hr /><hr />
   <script src="https://gist.github.com/saro0h/266c9c3516e13a4c2358.js"></script>
   <a class="btn btn-warning pull-right" href="#">&uarr; Back to top</a>
{% endblock %}


