{% extends "AppBundle::layout_content.html.twig" %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path("index") }}">Home</a> > <a href="{{ path("index") }}#section-2">Blog</a> > <a href="{{ path("code") }}">Code</a> > Media Api Bundle
    </div>
{% endblock %}

{% block title %} Playground RabbitMQ {% endblock %}

{% block big_title %}{% endblock %}

{% block date %}Wednesday, October 29th 2014{% endblock %}

{% block content %}
    <h4>Disclaimer</h4>
    <p>
        I did a standalone bundle!
    </p>
    <br /><br /><br />
   <script src="https://gist.github.com/saro0h/51333afd8bc73db3167a.js"></script>
   <a class="btn btn-warning pull-right" href="#">&uarr; Back to top</a>
{% endblock %}


